<nav fxLayout="row" [fxLayout.xs]="'column'" fxLayoutAlign="start center" fxLayoutAlign.xs="start space-evenly" class="bar-container">
  <a fxFlex fxHide.gt-xs (click)="toggle(navbar, navLink)">
    <i class="fas fa-bars fa-2x"></i>
  </a>

  <div #navbar fxFlex="90" fxHide.lt-sm fxLayout="row" fxLayoutAlign="start space-evenly" fxLayoutGap="1em" class="language-container">
    <h2 *ngIf="languages.length === 0">Start by Choosing a Language</h2>
    <h2 *ngFor="let lang of languages">{{lang}}</h2>
  </div>
  <a #navLink fxFlex fxHide.lt-sm>
    <i class="fas fa-plus-circle fa-2x"></i>
  </a>

</nav>
